@mixin controls() {

  // ---------------------------------------------------------------------------
  // Control Heights
  // ---------------------------------------------------------------------------

  --control-height-small: 20px;
  --control-height-medium: 24px;
  --control-height-large: 30px;

  // ---------------------------------------------------------------------------
  // Radius
  // ---------------------------------------------------------------------------

  --radius-small: 2px;
  --radius-medium: 3px;
  --radius-large: 4px;

  // ---------------------------------------------------------------------------
  // Control Padding
  // ---------------------------------------------------------------------------

  --control-padding-small: 0 var(--space-2);
  --control-padding-medium: 0 var(--space-3);
  --control-padding-large: 0 var(--space-4);

  // ---------------------------------------------------------------------------
  // Buttons
  // ---------------------------------------------------------------------------

  --button-padding-small: var(--control-padding-small);
  --button-padding-medium: var(--control-padding-medium);
  --button-padding-large: var(--control-padding-large);

  // ---------------------------------------------------------------------------
  // TextBox
  // ---------------------------------------------------------------------------

  --textbox-padding: var(--control-padding-medium);

  // ---------------------------------------------------------------------------
  // Icons
  // ---------------------------------------------------------------------------

  --icon-small: 14px;
  --icon-medium: 16px;
  --icon-large: 20px;

  // ---------------------------------------------------------------------------
  // Checkbox / Radio
  // ---------------------------------------------------------------------------

  --checkbox-size: 13px;
  --radio-size: 13px;

  // ---------------------------------------------------------------------------
  // Splitters
  // ---------------------------------------------------------------------------

  --splitter-size: 10px;
  --splitter-thickness: 1px;
}
