# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
bun.lock

# Build output
dist/
dist-ssr/
target/

# Local environment
*.local

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Neovim / Vim
*.swp
*.swo
*.swn
*.swn
*~
.netrwhist

# OS
.DS_Store
Thumbs.db
